flask==2.3.3
flask-cors==4.0.0

torch==2.1.0
torchvision==0.16.0

pillow==10.0.1
numpy==1.26.0
opencv-python==4.8.1.78

git+https://github.com/jacobgil/pytorch-grad-cam.git
shap==0.42.1
matplotlib==3.5.0
seaborn==0.11.0
gunicorn==21.2.0
